[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
selenium = "*"
undetected-chromedriver = "*"
djangorestframework-simplejwt = "*"
stripe = "*"
dj-stripe = "*"
whitenoise = "*"
gunicorn = "*"
braintree = "*"

[dev-packages]

[requires]
python_version = "3.7"
